.User {
  text-align: center;
}

.User-logo {
  height: 40vmin;
}

.User-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.User-link {
  color: #09d3ac;
}

