.card {
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    opacity: 0.95;
}

.container {
    padding-top: 5rem; /*vertical Alignment needed*/
    margin: auto;
    width: 100%;
    height: 100%;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    min-height: 100vh;    
}

.logo {
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.form-control:focus {
    border-color: #e30613;
    box-shadow: 0 0 0 0.2rem rgba(227, 6, 19, 0.25);
} 

.btn_dhbw {
    background-color: #e30613;
    color: white;
    margin-bottom: 1rem;
}

.btn_dhbw:hover {
    background-color: white;
    border-color: #e30613;
}


.loginLink {
    text-decoration: none;
}

.loginLink:hover {
    color: #4a5358;
    text-decoration: none;
}

.bg-card-background{
    background-color: lightgrey;
}

.card-header{
    color:#4a5358
}
.card-label{
    color:#4a5358
}