table{
  width: 100%;
}
.tableHeaderRow{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: red;
  color: white;
  border: black;
}
td{
  border-bottom: 2px solid black;
}
tr{
  margin-right: 55px;
}
img{
  margin: 5px;
}
Button{
  padding: 10px;
  font-weight: bold;
}