.btn_dhbw {
    background-color: #e30613;
    color: white;
    margin-bottom: 1rem;
    text-align: right;
}

.btn_dhbw:hover {
    background-color: white;
    border-color: #e30613;
}
.btn_align {
    text-align: right;
}